body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  /* margin: 0 auto; */
display: flex;
}

.task-card:hover {
  cursor: grab;
  
}

.droppable {
  
}

.draggable {

}

.overdue
{
  background-color: red;
}

.deadline 
{
  background-color: yellow;
}

.onTime 
{
  background-color: white;
}

.button 
{
  width: 100px;
display: block;
align-self: center;
margin-bottom: 20px;
}

.delete {
  
}